.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
    /*bottom: 100px;*/
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
    width: 100%;
    height: auto;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:100;
}
.caption_bg 
{
    float: left;
    /*position:absolute;
    display: inline-block;
    left:46px;
	bottom:126px;*/
    margin-left: 46px;
    margin-top: 47.8%;
	color:#FFF;
	padding: 22px 22px 19px 22px;
	/*z-index:100;*/
    max-width: 520px;
	background: rgba(2,54,81,0.8);
	overflow:hidden;
	-webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%);
}
.caption_bg.top_right
{
    float: right;
    margin-right: 46px;
	margin-top: 146px;
	-webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.caption_bg.bottom_right 
{
    float: right;
    margin-right: 46px;
}
.caption_bg.top_left
{
	margin-top: 146px;
	-webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.nivo-caption a {
    display:inline !important;
}
.nivo-caption {	
	-webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear;
}
/*.caption_bg{
    float: left;
    width: 360px;
    background: rgba(2,54,81,0.8);
}*/
/*.caption_title{
	position:relative;
	font-size:28px;
	text-transform: uppercase;	
	color:#d1aa66;
	font-family: 'san_francisco_displaylight';
	text-shadow: 0px 0px 1px rgba(209, 170, 102, 0.6);
    margin-bottom: 8px;
}
.caption_title.sub{
    margin-bottom: 0;
    color: #ffffff;
    text-shadow: 0 0 1px rgba(255,255,255,0.5);
}
.caption_subtitle{
	position:relative;
	text-transform: uppercase;
    font-size: 20px;
    margin:-1px 0 12px 0;
	color:#d1aa66;
}*/
/*@media only screen and (max-width : 959px) 
{
    .nivo-caption {
	    top:50%;
    }
    .caption_title{
	    position:relative;
	    font-size:22px;
	    padding: 8px 12px 12px 12px;
    }
    .caption_slogan{
	    height: 30px;	
	    font-size:14px;
	    padding: 4px 10px 0 10px;
    }
    .button_readmore{
	    height: 30px;
	    margin-left: 2px;
	    font-size:14px;
	    padding: 4px 2px 0 10px;
    }
    
    .button_readmore span{
	    margin:4px 7px 0 8px;
    }
    .caption_bg:hover .button_readmore span{
	    margin:4px 7px 0 12px;
    }

}
@media only screen and (max-width : 767px) 
{
    .nivo-caption {
	    top:42%;
    }
    .caption_title{
	    position:relative;
	    font-size:15px;
	    padding: 4px 10px 5px 10px;
    }
    .caption_slogan
    {
	    height: 23px;	
	    font-size:11px;
	    padding: 1px 8px 2px 8px;
    }
    .button_readmore
    {
	    height: 23px;
	    margin-left: 2px;
	    font-size:11px;
	    padding: 0px 0px 2px 6px;
    }
    
    .button_readmore span{
	    margin:4px 7px 0 8px;
    }
    .caption_bg:hover .button_readmore span{
	    margin:4px 7px 0 12px;
    }

}
@media only screen and (max-width : 400px) 
{
    .nivo-caption {
	    top:58%;
    }
    .caption_title
    {
        font-size: 12px;   
    }
    .caption_slogan
    {
        display: none;
    }
    .button_readmore
    {
        display: none;
    }
}*/