/*.contact_page_bg {    
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: left;
    margin-top:60px;
    margin-bottom: 46px;
}
.contact_title{
	float:left;
	width:100%;
	margin:18px 0 8px 0;
	font-size:19px;
	line-height:24px;
    color: #003137;
    text-align: center;
    font-family: 'san_francisco_displaylight';
    text-shadow: 0px 0px 1px rgba(0, 49, 55, 0.1);
}*/
.contact_form_bg {
    float: left;
    width: 100%;
    margin-top: 12px;
}
/*.contact_form_content_bg 
{
    margin-top: -6px;    
}*/
.contact_form_col {
    padding: 0;
}
.contact_txt_bg 
{
    position: relative;
    float: left;
	width:100%;
	height:26px;
    background: #fff;
	margin: 6px 0 0 0;
}
.contact_txt
{
    position: absolute;
    border: none;
    background: none;
    outline:none;
    width:95%;
	height:24px;
    padding-top: 1px;
	margin-left: 8px;
    z-index: 10;
	color:#666;
	font-size: 11px;    
}
.contact_txta_bg 
{
    position: relative;
    float: left;
	width:100%;
	height:100px;
	background: #fff;
	margin: 6px 0 0 0;
}
.contact_txta
{
	position: absolute;
    border: none;
    background: none;
    outline:none;
    width:95%;
	height:82px;
    margin-top: 3px;
	margin-left: 6px;
    z-index: 10;
    font-weight: normal;
    resize: none;
	color:#666;
	font-size: 11px;
    line-height: 16px;
}
.contact_txt_bg span i, .contact_txta_bg span i {
    display: inline-block;
    margin-right: 6px;
}
.contact_button_bg
{
    float: left;
    width: 100%;
    height:28px;
    margin: 22px 0 0 0;
	
}
.contact_button
{
    float: left;
    width: 72px;
    height:28px;
    line-height: 28px;
    font-size: 11px;
    background: #a58a66;
	color:#fff;
    cursor: pointer;	
	overflow:hidden;
    text-align: center;
    text-transform: uppercase;    
}
.contact_button:hover {
    color: #fff;
    background: #005559;
    
}
/*.contact_button .icon {
    float: left;
    width: 38%;
    height: 35px;
    margin-left: 12px; 
    background: url(../Images/Icons/send_01.png) center no-repeat;
    font-size: 18px;
    color: #d1aa66; 
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;   
}
.contact_button .text {
    float: left;
    width: 62%;
    height: 38px;
    margin-left: -100%;
    color:#d1aa66;	 
    text-shadow: 0px 0px 1px rgba(209, 170, 102, 0.5);
    font-family: 'san_francisco_displaymedium'; 
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear; 
}
.contact_button:hover .text
{
    margin-left: 5px;
}*/
.contact_txt_bg label{
    position: absolute;
    margin: 4px 0 0 0;
    width: 100%;
}
.invalid_icon
{
	width:19px;
	height:18px;	
	position:absolute;
	top:0;
    right:2px;
	background:transparent url(../Images/Icons/invalid_field.png) no-repeat 0px 0px;
    display: none;
}
.valid_icon
{
    position:absolute;
	width:19px;
	height:18px;
    top: 21px;
    right:4px;
	background:transparent url(../Images/Icons/valid_field.png) no-repeat 0px 0px;
}
.invalid_text
{
    position:absolute;
	right:6px;
	font-weight:normal;
	/*color:#8C0000;*/
    color: #b22222 !important;
    text-shadow: none;    
	width:50%;
	text-align:right;
	font-size: 9px !important;
    text-shadow: none;	
}
.contact_txta_bg label{
    position: absolute;
    margin: 78px 23px 0 0;
    width: 100%;
}
#content_error_mes .invalid_icon
{
	width:19px;
	height:18px;
	position:absolute;
    top: 73px;
	right:4px;
	background:transparent url(../Images/Icons/invalid_field.png) no-repeat 0px 0px;
}
#content_error_mes .valid_icon
{
	width:19px;
	height:18px;
	position:absolute;
	background:transparent url(../Images/Icons/valid_field.png) no-repeat 0px 0px;
	right:4px;
    top: 3px;
    display: none;
}
#content_error_mes .invalid_text
{
    position:absolute;
	margin-left:2px;
	font-weight:normal;
	/*color:#8C0000;*/
	text-shadow: none;
	height:22px;
	width:100%;
	right:8;
	text-align:right;
}
@media only screen and (max-width : 600px)	
{
    /*.contact_txt_bg {
        float: left;
        width: 100%;
    }*/	
	/*.contact_txt{
		width:100%;
	}
	.contact_txta{
		width:100%;
	}
	.invalid_text{
		left:-33px;
		margin-top:-40px;
		font-size:11px;
		color:#f4811f;
		width:100%;
	}
	.invalid_content_text{
		left:-33px;
		margin-top:-136px;
		color:#f4811f;
		width:100%;
	}
	.invalid_icon{
		margin-top:-40px;
		right:12px;
	}
	.invalid_content_icon{
		margin-top:-136px;
		right:12px;
	}
	.valid_icon{
		margin-top:-40px;
		right:12px;
	}
	.valid_content_icon{
		margin-top:-137px;
		right:12px;
	}
	.contact_info_bg strong{
		font-size:13px;
	    text-align: center;
	}
	.form_contact_title{
		font-size:12px;
	}*/
}











