.main_menu li {
    display: inline-block;
}
nav
{
    float: left;
    text-align: left;
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
    margin: 22px 0 0 36px;
}
nav span {
    display: none;
}
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
nav .menu_item2,
nav .menu_item 
{

	position: relative;
	display: inline-block;
	margin: 0 32px 0 0;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.6);
	font-size: 13px;
    font-family: 'UTMTrajanPro';
}

/*nav a:focus,*/ nav a:hover, nav a.selected{
	outline: none;
	color: #fff;
    text-shadow: 0 0 1px rgba(255,255,255,0.6);
}
.white_bg .menu_item2,
.white_bg .menu_item,
.white_bg nav a:hover, .white_bg nav a.selected
 {
    color: #A58A66;
    text-shadow: 0 0 1px rgba(165,138,102,0.6);
}
                 /* Effect 4: bottom border enlarge */
.cl-effect-4 a {
	padding: 0 0 2px;
}

.cl-effect-4 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: rgba(255,255,255,0.6);
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
.white_bg .cl-effect-4 a::after {
    background:rgba(165,138,102,0.8);
}
.cl-effect-4 a:hover::after,
.cl-effect-4 a:focus::after,
.cl-effect-4 a.selected::after {
	height: 2px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

/* Effect 1: Brackets */
/*.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
    font-size: 17px;
    font-family: 'san_francisco_displaylight';
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 3px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 3px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
/*.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after,!1!
.cl-effect-1 a.selected::before,
.cl-effect-1 a.selected::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}*/
.header_logo:hover::after, .header_logo:hover::before {
    display: none;
}
/*-----------------------Mobile Menu ------------------*/
.btn11 {
  position: absolute;
  width: 32px;
  height: 32px;
  margin:2px 8px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.btn11 .icon-left {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  position: absolute;
  height: 2px;
  width: 12px;
  top: 15px;
  background-color: #fff;
}
.btn11 .icon-left:before {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: #fff;
  content: "";
  top: -8px;
}
.btn11 .icon-left:after {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: #fff;
  content: "";
  top: 8px;
}
.btn11 .icon-left:hover {
  cursor: pointer;
}
.btn11 .icon-right {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  position: absolute;
  height: 2px;
  width: 12px;
  top: 15px;
  background-color: #fff;
  left: 12px;
}
.btn11 .icon-right:before {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: #fff;
  content: "";
  top: -8px;
}
.btn11 .icon-right:after {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: #fff;
  content: "";
  top: 8px;
}
.show .btn11 .icon-left {
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  background: transparent;
}
.show .btn11 .icon-left:before {
  -webkit-transform: rotateZ(45deg) scaleX(1.25) translate(1.5px, 1.5px);
          transform: rotateZ(45deg) scaleX(1.25) translate(1.5px, 1.5px);
}
.show .btn11 .icon-left:after {
  -webkit-transform: rotateZ(-45deg) scaleX(1.25) translate(1.5px, -1.5px);
          transform: rotateZ(-45deg) scaleX(1.25) translate(1.5px, -1.5px);
}
.show .btn11 .icon-right {
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  background: transparent;
}
.show .btn11 .icon-right:before {
  -webkit-transform: rotateZ(-45deg) scaleX(1.25) translate(-1.5px, 1.5px);
          transform: rotateZ(-45deg) scaleX(1.25) translate(-1.5px, 1.5px);
}
.show .btn11 .icon-right:after {
  -webkit-transform: rotateZ(45deg) scaleX(1.25) translate(-1.5px, -1.5px);
          transform: rotateZ(45deg) scaleX(1.25) translate(-1.5px, -1.5px);
}
.btn11:hover {
  cursor: pointer;
}