@import url('fonts/Weather/font.css');
@import url('fonts/SanFrancisco/font.css');
@import url('fonts/UTMTrajan/stylesheet.css');

/* CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	outline: 0 none;
	margin: 0 auto;
    padding: 0;
    border: 0 none;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/*h1, h2, h3, h4, h5, h6 {	color: #fff; font-weight: bold;	text-shadow: 1px 1px 0px #000;}*/
h5{
	font-size: 14px; margin-bottom:8px;
}
a{
	color: #A58A66;
	text-decoration:none;
    cursor: pointer;
}
a:hover{
	text-decoration:none;
	color:#d1aa66;
	/*border-bottom:1px dotted #00AEC5;*/
	/*text-shadow: 0 0 1px rgba(255,255,255,0.5), 0 0 6px rgba(255,255,255,0.5);*/
}
a:focus, a:active {
    text-decoration:none;
    color:#A58A66;
}
/*body, input, textarea, select, button {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
}*/
body
{
	margin:0 auto;
	/*font: 15px "san_francisco_display_regulRg",'Arial';*/
    font: 13px 'UTMTrajanPro',"Times New Roman"; 
    line-height: 18px;
    background: #000;
	color:#333;
	-webkit-font-smoothing: subpixel-antialiased;
	-ms-font-smoothing: subpixel-antialiased;
	font-weight: 400;
    position:relative;
	width:100%;
	height:100%;
	overflow: hidden !important;
}
body:after{
    display:none;
    content: url(../Images/Icons/social_icon_hover.png);
}
html, body {
  overflow-x:hidden 
} 
strong, span {
    color: #A58A66;
}
.ui-button strong, .ui-button span{
    color: #fff;
}
.no_padding{
	padding-left:0;
	padding-right:0;
}
.col_no_padding{
	padding:0 !important;
}
.row_no_padding [class*='col-']{
	padding:0;
}
#qLpercentage {
    background: url(../Images/LoadingLogo.png) no-repeat;
    color: rgba(2,54,81,0);
    background-size: cover;
}
/*=============================================Header=============================================*/
header{	
	position:fixed;
	z-index:1999;
	height:70px;
    width: 100%;
    background: rgba(0, 0, 0, 0.397);
    top: 0;
    left: 0;
    overflow: hidden;
    /*background: #333333;*/
    /*background: #fff;*/
    /*-webkit-transition: all 160ms linear;
    -moz-transition: all 160ms linear;
    -o-transition: all 160ms linear;
    -ms-transition: all 160ms linear;
    transition: all 160ms linear;*/
}
.menu_bg.white_bg {
    background: #fff;
    border-bottom: 2px solid #A58A67;
}
.logo {
    float: left;
    width: 162px;
    height: 42px;    
    background: url(../Images/logo_heading.png) no-repeat;
    cursor: pointer;
    margin-top: 13px;
    background-size: cover;
    -webkit-transition: all 860ms linear;
    -moz-transition: all 860ms ease;
    -o-transition: all 860ms ease;
    -ms-transition: all 860ms ease;
    transition: all 860ms ease;
}
.white_bg .logo {     
    background: url(../Images/logo_heading.png) no-repeat;
	background-size: cover;
}
.lang_menu_bg
{
    float: right;
    margin-top: 23px;
    -webkit-transition: all 860ms linear;
    -moz-transition: all 860ms ease;
    -o-transition: all 860ms ease;
    -ms-transition: all 860ms ease;
    transition: all 860ms ease;
}
.lang_menu_bg a{	
	float:right;
    width: 20px;
    height: 14px;
	-webkit-transition: all 160ms linear;
    -moz-transition: all 160ms linear;
    -o-transition: all 160ms linear;
    -ms-transition: all 160ms linear;
    transition: all 160ms linear;
    color: #fff;
}
.white_bg .lang_menu_bg a {
    color: #A58A66;   
}
.lang_menu_bg a:hover{
    color: #d1aa66;
	/*filter: brightness(116%);
    -webkit-filter: brightness(116%);
    -moz-filter: brightness(116%);
    -o-filter: brightness(116%);
    -ms-filter: brightness(116%);*/
}
/*.lang_menu_bg a:active{	
	filter: brightness(88%);
    -webkit-filter: brightness(88%);
    -moz-filter: brightness(88%);
    -o-filter: brightness(88%);
    -ms-filter: brightness(88%);
}*/
.lang_menu_bg span{
    float: right;
    border-left: 1px solid #fff;
    height: 11px;
    width: 1px;
    margin: 6px 10px 0 6px;
}
.white_bg .lang_menu_bg span {
    border-left: 1px solid #a58a66;
}
.page_btn_left {
    position: absolute;
    left: 0%;
    top: 55%;
    width: 42px;
    z-index: 290;
}
.leftsidebar_btn{
    float: left;
    width: 42px;
    height: 37px;
    font-weight: bold;
    border-radius: 30%;
    margin-bottom: 5px;
    -webkit-transition: background 200ms linear;
    -moz-transition: background 200ms linear;
    -o-transition: background 200ms linear;
    -ms-transition: background 200ms linear;
    transition: background 200ms linear;
    transform: translateX(-1000%);
    animation: slide 1s forwards;
}

.leftsidebar_btn div {
    position: absolute;
    height: 39px;
    width: 300px;
    line-height: 42px;
    text-align: center;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    background-color: rgba(0,85,89,0.68);
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
}
.animate1 {
    animation-delay: 1.5s;
}

.animate2 {
    animation-delay: 2s;
}

.animate3 {
    animation-delay: 2.5s;
}

.animate4 {
    animation-delay: 3s;
}

.animate5 {
    animation-delay: 3.5s;
}
.page_btn_bg {
    position: fixed;
    right: 0;
    top: 25%;
    width: 42px;
    z-index: 290;
}
.page_btn_bg a{
    float: left;
    width: 42px;
    height: 42px;
    background-color: rgba(0,85,89, 0.88);
    margin-bottom: 1px;
    -webkit-transition: background 200ms linear;
    -moz-transition: background 200ms linear;
    -o-transition: background 200ms linear;
    -ms-transition: background 200ms linear;
    transition: background 200ms linear;
}
.page_btn_bg a:hover
{
    background-color: rgba(0,85,89, 1);
}
.weather_btn {
    background:url(../Images/Icons/weather.png) no-repeat center;
}
.hotline_btn {
    background:url(../Images/Icons/hotline.png) no-repeat center;
}
.facebook_btn {
    background:url(../Images/Icons/facebook.png) no-repeat center;
}
.youtube_btn {
    background:url(../Images/Icons/youtube.png) no-repeat center;
}
.weather_btn .weather_widget {
    position: absolute;
    height: 42px;
    width: 0;
    right: 42px;
    line-height: 39px;
    padding-left: 0;
    color: #fff;
    font-size: 13px;
    background-color: rgba(0,85,89, 0.68);
    overflow: hidden;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.weather_btn:hover .weather_widget 
{
    width: 226px;
    padding-left: 15px;
}
.weather_widget div{
	float:left;	
}
.weather_widget_time{
	margin-left:3px;
}
.weather_widget_name{
	text-transform:uppercase;	
}
.weather_icon
{
    line-height: 21px;
    padding-right:3px;
	color:#fff;
	/*text-shadow:0 0 1px rgba(255,255,255,0.2);*/
}
.weather_widget i{
    float: left;
    line-height: 43px;
    padding-right:3px;
	color:#fff;
}
.weather_widget_split{
	margin:0 10px;
	font-size:12px;
    color: rgba(255, 255, 255, 0.6);
}
.hotline_btn div,
.facebook_btn div, 
.youtube_btn div {
    position: absolute;
    height: 42px;
    width: 0;
    right: 42px;
    line-height: 38px;
    padding-left: 0;
    color: #fff;
    font-size: 13px;
    background-color: rgba(0,85,89,0.68);
    overflow: hidden;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}


@keyframes slide {
    100%{
        transform: translateX(0%);
    }
}

.hotline_btn:hover div 
{
    width: 160px;
    padding-left: 15px;
}
.facebook_btn:hover div 
{
    width: 100px;
    padding-left: 15px;
}
.youtube_btn:hover div 
{
    width: 110px;
    padding-left: 15px;
}
/*.menu_border {
    position: absolute;
    display: none;
}*/
/*=============================================Body=============================================*/
.body_bg.body_blur {
    background: #000;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}
.page_title 
{
    display: block;
    position: relative;
    width: 100%;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    margin:52px 0 38px 0;    
    font-family: 'san_francisco_displaythin';
    color: #666;
    text-shadow: 0px 0px 1px rgba(102, 102, 102, 1);
}
.page_title span {
    color: #D1AA66;
    text-shadow: 0px 0px 1px rgba(209, 170, 102, 1);
}
.title_line {
    display: block;
    position: relative;
    width: 100%;
    height: 3px;
    background: url(../Images/title_line_01.png) center no-repeat;
    margin-bottom: 32px;
}
.title_line.title_line_02
{
    background: url(../Images/title_line_02.png) center no-repeat;
}
a.page_title:hover
{
    color: #666;
}
.font_normal {
    font-style: normal !important;
}
/*=============================================Footer=============================================*/
.footer_copyright_bg {
    position: absolute;
    width: 100%;
    height: 32px;
    bottom: 0;
    background: #A58A66;
    text-align: center;
    line-height: 30px;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.88);
    z-index: 999;
}
.footer_copyright_bg a{
    color: #fff;
}
.footer_copyright_bg a:hover{
    color: #fff;
    border-bottom: 1px dotted #fff;
}
/*footer 
{
    position: absolute;
    width: 100%;
    z-index: 99;
    overflow: hidden;
    margin: 0 auto;
    background: #023651;
    bottom: 0;
    padding-bottom: 58px;
}
.footer_partner{
	position:relative;
	height:60px;
	background:#FFF;
    overflow: hidden;
}
.partner_title_bg{
	float:left;
	height:60px;
    line-height: 62px;
	margin-right:28px;
	font-size:18px;
	text-transform:uppercase;
	font-family: 'san_francisco_displaymedium';
	color:#023651;	
	text-shadow: 0px 0px 1px rgba(2, 54, 81, 0.1); 
}
.partner_line 
{
    float: left;
    height: 80px;
    width: 1px;
    margin-top: -8px;
    background: #023651;
    margin-right:28px;
    -ms-transform: rotate(22deg); 
    -webkit-transform: rotate(22deg);
    transform: rotate(22deg);
}
.partner_bg{
	margin:8px 0 0 0;
	height:50px;
	overflow:hidden;	
}
.partner_bg li{
	float:left;
	text-align:center;	
}
.partner_bg img{	
	max-width:200px;
	max-height:32px;
    margin-top: 5px;
}
.grayscale{
    filter: gray; /* IE6-9 !1!
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ !1!
    -webkit-filter: grayscale(1); 
    opacity:0.5;
    -webkit-transition: all 280ms linear;
    -moz-transition: all 280ms linear;
    -o-transition: all 280ms linear;
    -ms-transition: all 280ms linear;
    transition: all 280ms linear;
}
.partner_bg .grayscale:hover{
	opacity:1;	
	filter: grayscale(0); /* Microsoft Edge and Firefox 35+ !1!
    -webkit-filter: grayscale(0); 	
}
.footer_copyright_bg {
    position: relative;
    float: left;
    width: 100%;
    height: 32px;
    background: #022B40;
    text-align: center;
    line-height: 33px;
    font-size: 11px;
    color: rgba(209, 170, 102, 0.68);
}
.footer_copyright_bg a, .footer_copyright_bg span
{
    color: rgba(209, 170, 102, .9); 
}
.hidden_gallery {
    display: none;
}*/